body {
    font-family: Verdana, sans-serif; 
    line-height: 1.5;
    color: #301934;
    background-color: #f9fafb;
}

.container {
    width: 85%;
    margin: 0 auto;
    padding: 25px;
}

/* Header */
header {
    background-color: #915F6D;
    color: #FFFFFF;
    padding: 30px 0;
    text-align: center;
    border-bottom: 5px solid #51414F;
}

header img {
    width: 150px;
    height: auto;
    border-radius: 100%;
}

header h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

header p {
    font-size: 20px;
    color: #FFFFFF;
}


/* Personal Info Section */
#personal-info {
    
    padding: 25px;
    margin-top: 30px;
}

#personal-info li {
    background-color: #E6E6FA;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;
}

#personal-info li:hover {
    transform: translateY(-5px);
}

#education li {
    background-color: #E6E6FA;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;
}

#education li:hover {
    transform: translateY(-5px);
}

/* Projects Section */
.project {
    padding: 20px;
    margin-bottom: 15px;
    
}

.project  li {
    background-color: #E6E6FA;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;
}

.project li:hover {
    transform: translateY(-5px);
}

/* Social Media Links */
.social-media a {
    margin-right: 15px;
    color: #51414F;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease;
}

#leftcolumn {
    float: left;                       
    width: 700px; 
     padding-top: 10px;                     
}

#rightcolumn {
    margin-left: 700px;
    width: 700px;                        
    padding: 20px;                     
}

.social-media a:hover {
    color: #915F6D;
}

/* Footer */
footer {
    background-color: #915F6D;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    border-top: 5px solid #51414F;
    font-size: 14px;
}

/* Responsive Breakpoints */
@media (max-width: 992px) {
    header h1 {
        font-size: 35px;
    }

    .container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    header h1 {
        font-size: 25px;
    }

    .container {
        width: 95%;
    }

    footer {
        font-size: 12px;
    }
}
